@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
.social-bar {
  position: fixed;
  top: 80%;
  width: 40px;
  background-color: white;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.social-bar a {
  display: block;
  text-align: center;
  font-size: 35px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#github {
  color: #1B1B1B;
}

#github:hover {
  text-shadow: 0 0 30px #919191;
}

.github {
  margin-top: -5px;
}

#linkedin {
  color: #00BAFE;
}

#linkedin:hover {
  text-shadow: 0 0 30px #00BAFE;
}

#youtube {
  color: #FF1D1D;
}

#youtube:hover {
  text-shadow: 0 0 30px #FF1D1D;
}

.youtube {
  margin-bottom: 12px;
}

.github:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.linkedin:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.youtube:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 1100px) {
  .social-bar {
    top: 10%;
    width: 60px;
  }
  .social-bar a {
    font-size: 50px;
    height: 60px;
  }
}

.project-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-width: 300px;
  margin: 50px auto;
  margin-left: 50px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 4px;
  padding: 15px 0;
  -webkit-box-shadow: inset 0 0 10px #8d8d8d;
          box-shadow: inset 0 0 10px #8d8d8d;
  margin-bottom: 30px;
}

.card img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-top: 10px;
}

.card h3 {
  margin-left: 10px;
}

.card p {
  margin-left: 10px;
  font-size: 12px;
  width: 80%;
  font-weight: 400;
}

#card-one {
  background: linear-gradient(97deg, #1d1c1c 0%, #242c2c 62%, #ffb520 100%);
}

#card-two {
  background: linear-gradient(97deg, #fd0000 0%, #ff785a 45%, #424242 100%);
}

#card-three {
  background: linear-gradient(97deg, #e92569 0%, #e92569 54%, #f1f1f1 100%);
}

.language-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 80%;
  font-size: 25px;
}

@media (min-width: 1100px) {
  .project-cards {
    margin: 50px auto;
    max-width: 600px;
  }
  .card {
    width: 600px;
    height: 300px;
  }
  .card img {
    width: 100%;
    height: 250px;
  }
  .card-image {
    height: 250px;
    width: 350px;
    margin-right: 20px;
  }
  .card h3 {
    margin-left: 25px;
    font-size: 27px;
  }
  .card p {
    margin-left: 25px;
    font-size: 18px;
    width: 80%;
  }
}

.container-contact h3 {
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 20px;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 30px;
  overflow: hidden;
}

.contact-form-text {
  font-size: 18px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: rgba(255, 255, 255, 0.849);
  padding: 20px 40px;
  outline: none;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-form-text:focus {
  -webkit-box-shadow: 0 0 10px 4px #E89F00;
          box-shadow: 0 0 10px 4px #E89F00;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
  font-size: 18px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: #E89F00;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 18px;
}

.contact-form-btn:hover {
  background: #1bb2e9;
}

.contact-form input,
.contact-form textarea {
  border-radius: 5px;
}

@media (min-width: 1100px) {
  .container-contact h3 {
    font-size: 40px;
  }
  .contact-form-text {
    font-size: 25px;
    margin: 20px 0;
    padding: 20px 40px;
  }
  textarea.contact-form-text {
    height: 150px;
    font-size: 25px;
  }
  .contact-form-btn {
    padding: 20px 60px;
    font-size: 30px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

.background-gradient {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00ccff), color-stop(#00afee), color-stop(#0092da), color-stop(#0876c3), color-stop(#2859a9), color-stop(#2f4d9d), color-stop(#344090), color-stop(#383483), color-stop(#383583), color-stop(#373584), color-stop(#373684), to(#373684));
  background-image: linear-gradient(to right bottom, #00ccff, #00afee, #0092da, #0876c3, #2859a9, #2f4d9d, #344090, #383483, #383583, #373584, #373684, #373684);
}

.header {
  text-align: center;
  padding-top: 20px;
  color: white;
}

.header h1 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 1px;
}

.header p {
  font-weight: 400;
  font-size: 20px;
}

.personal-image {
  width: 150px;
  margin: 15px auto;
}

.personal-info p {
  color: floralwhite;
  width: 250px;
  margin: auto;
  text-align: center;
}

.programming-languages {
  text-align: center;
  width: 250px;
  margin: 50px auto;
}

.programming-languages h2 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.border {
  height: 5px;
  background-color: #FF8800;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #FF8800;
          box-shadow: 0 0 15px #FF8800;
}

.programming-icons {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.programming-icons i {
  font-size: 35px;
}

.programming-icons p {
  color: white;
}

#html {
  color: #E64141;
}

#js {
  color: #f1f123;
}

#css {
  color: #148dff;
}

#react {
  color: #00d9ff;
}

.my-projects {
  margin-top: 70px;
  text-align: center;
  padding-bottom: 25px;
}

.my-projects h2 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.my-projects .border {
  width: 125px;
  margin: auto;
}

.copyright {
  text-align: center;
  color: #d8d8d8;
  padding-top: 70px;
  padding-bottom: 10px;
  opacity: 90%;
}

@media (min-width: 1100px) {
  .header {
    padding-top: 40px;
  }
  .header h1 {
    font-size: 70px;
  }
  .header p {
    font-size: 35px;
  }
  .personal-image {
    width: 220px;
  }
  .personal-info p {
    font-size: 25px;
    width: 450px;
  }
  .programming-languages {
    width: 500px;
    margin-top: 80px;
  }
  .programming-languages h2 {
    font-size: 40px;
    padding-bottom: 15px;
  }
  .border {
    height: 10px;
    border-radius: 5px;
  }
  .programming-icons {
    margin-top: 40px;
    gap: 20px;
  }
  .programming-icons i {
    font-size: 60px;
  }
  .programming-icons p {
    font-size: 25px;
  }
  .my-projects {
    padding-bottom: 50px;
  }
  .my-projects h2 {
    font-size: 40px;
    padding-bottom: 15px;
  }
  .my-projects .border {
    width: 250px;
  }
  .copyright {
    color: #d8d8d8;
    padding-top: 100px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */