@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
.social-bar {
  position: fixed;
  top: 50%;
  width: 40px;
  background-color: white;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.social-bar a {
  display: block;
  text-align: center;
  font-size: 35px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#github {
  color: #1B1B1B;
}

#github:hover {
  text-shadow: 0 0 30px #919191;
}

.github {
  margin-top: -5px;
}

#linkedin {
  color: #00BAFE;
}

#linkedin:hover {
  text-shadow: 0 0 30px #00BAFE;
}

#youtube {
  color: #FF1D1D;
}

#youtube:hover {
  text-shadow: 0 0 30px #FF1D1D;
}

.youtube {
  margin-bottom: 12px;
}

.github:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.linkedin:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.youtube:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-width: 300px;
  margin: 50px auto;
  margin-left: 50px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 4px;
  padding: 15px 0;
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
}

.card img {
  width: 150px;
}

.card h3 {
  margin-left: 10px;
}

.card p {
  margin-left: 10px;
  font-size: 12px;
  width: 80%;
  font-weight: 400;
}

#card-one {
  background: #1d1c1c;
  background: linear-gradient(97deg, #1d1c1c 0%, #242c2c 62%, #ffb520 100%);
}

#card-one img {
  height: 120px;
  margin-top: 5px;
  margin-right: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

.background-gradient {
  height: 830px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00ccff), color-stop(#00afee), color-stop(#0092da), color-stop(#0876c3), color-stop(#2859a9), color-stop(#2f4d9d), color-stop(#344090), color-stop(#383483), color-stop(#383583), color-stop(#373584), color-stop(#373684), to(#373684));
  background-image: linear-gradient(to right bottom, #00ccff, #00afee, #0092da, #0876c3, #2859a9, #2f4d9d, #344090, #383483, #383583, #373584, #373684, #373684);
}

.header {
  text-align: center;
  padding-top: 20px;
  color: white;
}

.header h1 {
  font-weight: 700;
  font-size: 40px;
}

.header p {
  font-weight: 400;
  font-size: 20px;
}

.personal-image {
  width: 150px;
  margin: 15px auto;
}

.personal-info p {
  color: floralwhite;
  width: 250px;
  margin: auto;
}

.programming-languages {
  text-align: center;
  width: 250px;
  margin: 100px auto 0;
}

.programming-languages h2 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.border {
  height: 5px;
  background-color: #FF8800;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #FF8800;
          box-shadow: 0 0 15px #FF8800;
}

.programming-icons {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.programming-icons i {
  font-size: 35px;
}

.programming-icons p {
  color: white;
}

#html {
  color: #E64141;
}

#js {
  color: #f1f123;
}

#css {
  color: #148dff;
}

#react {
  color: #00d9ff;
}

.my-projects {
  margin-top: 70px;
  text-align: center;
}

.my-projects h2 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.my-projects .border {
  width: 125px;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */